<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark text-white" th:object="${authorizedUser}">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span class="font-weight-bold" th:text="*{email}">placeholder@gmail.com</span>
            <span>with roles:</span>
            <th:block th:each="role : *{roles}">
                <span th:text="${role.name.replaceAll('^ROLE_', '')}"></span>
            </th:block>
        </div>
        <div>
            <a class="nav-link text-white" href="/login?logout">Logout</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row" th:with="isAdmin=${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <!-- Sidebar -->
        <div class="col-2 g-0">
            <ul class="nav nav-pills nav-fill flex-column pt-3 g-0">
                <li class="nav-item" th:if="${isAdmin}">
                    <a class="nav-link active" data-bs-toggle="pill" href="#admin-panel"
                       style="text-align: left">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#user-info" style="text-align: left"
                       th:classappend="${!isAdmin} ? 'active'">User</a>
                </li>
            </ul>
        </div>
        <div class="col g-0 tab-content">
            <!-- Admin panel -->
            <div class="tab-pane fade show active" id="admin-panel" th:if="${isAdmin}">
                <div class="container-fluid bg-light px-4 py-3 g-0 vh-100">
                    <h2>Admin panel</h2>
                    <div>
                        <nav class="nav nav-tabs" id="nav-tab">
                            <a class="nav-link active" data-bs-toggle="tab" href="#users-table" id="nav-home-tab">
                                Users table
                            </a>
                            <a class="nav-link" data-bs-toggle="tab" href="#new-user" id="nav-profile-tab">
                                New user
                            </a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
<!--                            All users tab-->
                            <div class="tab-pane fade show active" id="users-table">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="h4 m-0">All users</div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.firstName}"></td>
                                                <td th:text="${user.lastName}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td>
                                                    <th:block th:each="role: ${user.roles}">
                                                        <span th:text="${role.name.replaceAll('ROLE_', '')}"></span>
                                                    </th:block>
                                                </td>
                                                <td>
                                                    <button class="btn btn-info text-white" data-bs-target="#editModal"
                                                            data-bs-toggle="modal"
                                                            th:data-bs-target="${'#editModal' + user.id}">Edit
                                                    </button>
                                                    <!--Edit user Modal window-->
                                                    <div class="modal" id="editModal" tabindex="-1"
                                                         th:id="editModal + ${user.id}">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4>Edit user</h4>
                                                                    <button class="btn-close" data-bs-dismiss="modal"
                                                                            type="button"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-6 offset-3">
                                                                            <form th:method="PATCH" th:action="@{main/{id}/edit(id=${user.id})}" class="text-center" th:object="${user}" th:id="${'editForm' + user.id}">
                                                                                <label class="d-block form-label fw-bold mb-0" for="formId">ID</label>
                                                                                <input class="form-control " id="formId" type="text" name="id" th:value="*{id}" disabled required>
                                                                                <label class="form-label fw-bold mb-0" for="formFirstName">First name</label>
                                                                                <input class="form-control" id="formFirstName" type="text" th:name="firstName" th:value="*{firstName}" name="firstName" required>
                                                                                <label class="form-label fw-bold mb-0" for="formLastName">Last name</label>
                                                                                <input class="form-control" id="formLastName" type="text" name="lastName" th:value="*{lastName}" required>
                                                                                <label class="form-label fw-bold mb-0" for="formAge">Age</label>
                                                                                <input class="form-control" id="formAge" type="number" name="age" th:value="*{age}" required>
                                                                                <label class="form-label fw-bold mb-0" for="formEmail">Email</label>
                                                                                <input class="form-control" id="formEmail" type="email" name="email" th:value="*{email}" required>
                                                                                <label class="form-label fw-bold mb-0" for="formPassword">Password</label>
                                                                                <input class="form-control" id="formPassword" type="password" name="password" value="" required>
                                                                                <p>
                                                                                    <label class="form-label fw-bold mb-3" for="formRoles">Roles</label>
                                                                                    <select class="form-select" id="formRoles" name="roles" th:value="*{roles}" th:size="${rolesList.size()}" multiple required>
                                                                                        <option th:each="role : ${rolesList}" th:value="${role.id}" th:text="${role.name.replaceAll('ROLE_', '')}"></option>
                                                                                    </select>
                                                                                </p>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <input type="submit" th:form="${'editForm' + user.id}" class="btn btn-primary" value="Edit"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger text-white" data-bs-target="#deleteModal"
                                                            data-bs-toggle="modal" th:data-bs-target="${'#deleteModal' + user.id}">Delete
                                                    </button>
<!--                                                    Delete Modal window-->
                                                    <div class="modal" id="deleteModal" tabindex="-1"
                                                         th:id="deleteModal + ${user.id}">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4>Delete user</h4>
                                                                    <button class="btn-close" data-bs-dismiss="modal"
                                                                            type="button"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-6 offset-3">
                                                                            <form th:method="DELETE" th:action="@{main/{id}/delete(id=${user.id})}" class="text-center" th:object="${user}" th:id="${'deleteForm' + user.id}">
                                                                                <label class="d-block form-label fw-bold mb-0" for="deleteFormId">ID</label>
                                                                                <input class="form-control " id="deleteFormId" type="text" name="id" th:value="*{id}" disabled>
                                                                                <label class="form-label fw-bold mb-0" for="deleteFormFirstName">First name</label>
                                                                                <input class="form-control" id="deleteFormFirstName" type="text" th:name="firstName" th:value="*{firstName}" name="firstName" disabled>
                                                                                <label class="form-label fw-bold mb-0" for="deleteFormLastName">Last name</label>
                                                                                <input class="form-control" id="deleteFormLastName" type="text" name="lastName" th:value="*{lastName}" disabled>
                                                                                <label class="form-label fw-bold mb-0" for="deleteFormAge">Age</label>
                                                                                <input class="form-control" id="deleteFormAge" type="number" name="age" th:value="*{age}" disabled>
                                                                                <label class="form-label fw-bold mb-0" for="deleteFormEmail">Email</label>
                                                                                <input class="form-control" id="deleteFormEmail" type="email" name="email" th:value="*{email}" disabled>
                                                                                <p>
                                                                                    <label class="form-label fw-bold mb-3" for="deleteFormRoles">Roles</label>
                                                                                    <select class="form-select" id="deleteFormRoles" name="roles" th:value="*{roles}" th:size="*{roles.size()}" multiple disabled>
                                                                                        <option th:each="role : *{roles}" th:value="${role.id}" th:text="${role.name.replaceAll('ROLE_', '')}"></option>
                                                                                    </select>
                                                                                </p>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <input type="submit" th:form="${'deleteForm' + user.id}" class="btn btn-danger" value="Delete"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
<!--                            New user tab-->
                            <div class="tab-pane fade" id="new-user">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="h4 m-0">Add new user</div>
                                    </div>
                                </div>
                                <div class="card-body text-center justify-content-center">
                                    <div class="col-4 offset-4">
                                        <form th:method="POST" th:action="@{main/save}" class="text-center" th:object="${newUser}">
                                            <label class="form-label fw-bold mb-0" for="newUserFirstName">First name</label>
                                            <input class="form-control" id="newUserFirstName" type="text" th:name="firstName" th:value="*{firstName}" name="firstName" required>
                                            <label class="form-label fw-bold mb-0" for="newUserLastName">Last name</label>
                                            <input class="form-control" id="newUserLastName" type="text" name="lastName" th:value="*{lastName}" required>
                                            <label class="form-label fw-bold mb-0" for="newUserAge">Age</label>
                                            <input class="form-control" id="newUserAge" type="number" name="age" th:value="*{age}" required>
                                            <label class="form-label fw-bold mb-0" for="newUserEmail">Email</label>
                                            <input class="form-control" id="newUserEmail" type="email" name="email" th:value="*{email}" required>
                                            <label class="form-label fw-bold mb-0" for="newUserPassword">Password</label>
                                            <input class="form-control" id="newUserPassword" type="password" name="password" value="" required>
                                            <label class="form-label fw-bold mb-3" for="newUserRoles">Role</label>
                                            <select class="form-select" id="newUserRoles" name="roles" th:value="*{roles}" th:size="${rolesList.size()}" multiple required>
                                                <option th:each="role : ${rolesList}" th:value="${role.id}" th:text="${role.name.replaceAll('ROLE_', '')}"></option>
                                            </select>
                                            <input type="submit" class="btn btn-success mt-3" value="Add new user">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Info page -->
            <div class="tab-pane fade show" id="user-info" th:classappend="${!isAdmin} ? 'active'">
                <div class="container-fluid bg-light px-4 py-3 g-0 vh-100">
                    <h2>User information-page</h2>
                    <div class="card">
                    <div class="card-header">
                        <div class="h4 m-0">About user</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${authorizedUser}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{firstName}"></td>
                                <td th:text="*{lastName}"></td>
                                <td th:text="*{age}"></td>
                                <td th:text="*{email}"></td>
                                <td>
                                    <th:block th:each="role: *{roles}">
                                        <span th:text="${role.name.replaceAll('ROLE_', '')}"></span>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>